query2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="remix_collection">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="recording" type="xs:string"/>
				<xs:complexType>
					<xs:sequence>
					<xs:element name="track name" type="xs:string"/>
					<xs:element name="artist" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>